{% extends "base.html.twig" %}
{% block title %}index{% endblock %}
{% block body %}
<div class="text-bold mt-20 bg-stone-500 text-center font-bold">
<h1 class="text-center text-cyan-400">movies</h1>
{{ author }}
{% for movie in movies %}
<li class="text-center">movie</li>
    
{% endfor %}


</div>

{% endblock %}
