{% extends "base.html.twig" %}
{% block title %} index{% endblock %}
{% block body %}
<div class="text-bold mt-20">
<h1 class=>movies</h1>
{{ author }}
{% for movie in movies %}
<li>movie</li>
    
{% endfor %}

</div>

{% endblock %}
